<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cooperative">
            <h2><span jhiTranslate="glCoopcycleApp.cooperative.detail.title">Cooperative</span> {{ cooperative.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="glCoopcycleApp.cooperative.name">Name</span></dt>
                <dd>
                    <span>{{ cooperative.name }}</span>
                </dd>
                <dt><span jhiTranslate="glCoopcycleApp.cooperative.geographicalArea">Geographical Area</span></dt>
                <dd>
                    <span>{{ cooperative.geographicalArea }}</span>
                </dd>
                <dt><span jhiTranslate="glCoopcycleApp.cooperative.dg">Dg</span></dt>
                <dd>
                    <div *ngIf="cooperative.dg">
                        <a [routerLink]="['/user-account', cooperative.dg?.id, 'view']">{{ cooperative.dg?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cooperative', cooperative.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
