<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="restaurant">
            <h2><span jhiTranslate="glCoopcycleApp.restaurant.detail.title">Restaurant</span> {{ restaurant.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="glCoopcycleApp.restaurant.adress">Adress</span></dt>
                <dd>
                    <span>{{ restaurant.adress }}</span>
                </dd>
                <dt><span jhiTranslate="glCoopcycleApp.restaurant.cooperative">Cooperative</span></dt>
                <dd>
                    <div *ngIf="restaurant.cooperative">
                        <a [routerLink]="['/cooperative', restaurant.cooperative?.id, 'view']">{{ restaurant.cooperative?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="glCoopcycleApp.restaurant.owner">Owner</span></dt>
                <dd>
                    <div *ngIf="restaurant.owner">
                        <a [routerLink]="['/user-account', restaurant.owner?.id, 'view']">{{ restaurant.owner?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/restaurant', restaurant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
