<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-user-account-heading" jhiTranslate="glCoopcycleApp.userAccount.home.createOrEditLabel">Create or edit a User Account</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="glCoopcycleApp.userAccount.mail" for="field_mail">Mail</label>
                    <input type="text" class="form-control" name="mail" id="field_mail"
                           formControlName="mail"/>
                    <div *ngIf="editForm.get('mail')!.invalid && (editForm.get('mail')!.dirty || editForm.get('mail')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('mail')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('mail')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Mail' }">
                            This field should follow pattern for "Mail".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="glCoopcycleApp.userAccount.adress" for="field_adress">Adress</label>
                    <input type="text" class="form-control" name="adress" id="field_adress"
                           formControlName="adress"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="glCoopcycleApp.userAccount.login" for="field_login">Login</label>
                    <input type="text" class="form-control" name="login" id="field_login"
                           formControlName="login"/>
                    <div *ngIf="editForm.get('login')!.invalid && (editForm.get('login')!.dirty || editForm.get('login')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('login')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('login')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                        This field is required to be at least 5 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('login')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 32 }">
                        This field cannot be longer than 32 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="glCoopcycleApp.userAccount.password" for="field_password">Password</label>
                    <input type="text" class="form-control" name="password" id="field_password"
                           formControlName="password"/>
                    <div *ngIf="editForm.get('password')!.invalid && (editForm.get('password')!.dirty || editForm.get('password')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('password')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('password')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 8 }">
                        This field is required to be at least 8 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="glCoopcycleApp.userAccount.roles" for="field_roles">Roles</label>
                    <select class="form-control" id="field_roles" multiple name="roles" formControlName="roles">
                        <option [ngValue]="getSelected(editForm.get('roles')!.value, roleOption)" *ngFor="let roleOption of roles; trackBy: trackById">{{ roleOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="glCoopcycleApp.userAccount.cooperative" for="field_cooperative">Cooperative</label>
                    <select class="form-control" id="field_cooperative" name="cooperative" formControlName="cooperative">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cooperativeOption.id === editForm.get('cooperative')!.value?.id ? editForm.get('cooperative')!.value : cooperativeOption" *ngFor="let cooperativeOption of cooperatives; trackBy: trackById">{{ cooperativeOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
