<div>
    <h2 id="page-heading">
        <span jhiTranslate="glCoopcycleApp.deliverer.home.title">Deliverers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-deliverer" [routerLink]="['/deliverer/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="glCoopcycleApp.deliverer.home.createLabel">
            Create a new Deliverer
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="deliverers?.length === 0">
        <span jhiTranslate="glCoopcycleApp.deliverer.home.notFound">No deliverers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="deliverers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="currentPosition"><span jhiTranslate="glCoopcycleApp.deliverer.currentPosition">Current Position</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="transportType"><span jhiTranslate="glCoopcycleApp.deliverer.transportType">Transport Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="glCoopcycleApp.deliverer.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="account.id"><span jhiTranslate="glCoopcycleApp.deliverer.account">Account</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let deliverer of deliverers ;trackBy: trackId">
                    <td><a [routerLink]="['/deliverer', deliverer.id, 'view']">{{ deliverer.id }}</a></td>
                    <td>{{ deliverer.currentPosition }}</td>
                    <td>{{ deliverer.transportType }}</td>
                    <td jhiTranslate="{{ 'glCoopcycleApp.DelivererStatus.' + deliverer.status }}">{{ deliverer.status }}</td>
                    <td>
                        <div *ngIf="deliverer.account">
                            <a [routerLink]="['/user-account', deliverer.account?.id, 'view']" >{{ deliverer.account?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/deliverer', deliverer.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/deliverer', deliverer.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(deliverer)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
